/*-- scss:defaults --*/
// Base document colors

$link-color: #654a4e;
$body-color: #654a4e;
// Code blocks
//$code-block-bg-alpha: -.8;

// navbar

$navbar-bg: #e6ddde; 
$navbar-fg: #654a4e;
$navbar-hl: #753742;

//font

//$font-family-sans-serif: "Helvetica Neue";
//$font-family-monospace: Menlo;

//$link-hover-decoration: underline;
//$link-hover-color: #753742;


//footer.footer .nav-footer, #quarto-header nav

.navbar-expand-lg .navbar-collapse .nav-item{
    position: relative;
    
}




.navbar-expand-lg .navbar-collapse .nav-item:after{
    content: "";
    position: absolute;
    background-color: #654a4e;
    height: 1.5px;
    width: 0%;
    bottom: -2px;
    margin: auto;
    transition: all 0.5s;
    
}

.navbar-expand-lg .navbar-collapse .nav-item:hover::after{
    width: 100%;
}