/*-- scss:defaults --*/
// Base document colors

$link-color: #654a4e;
$body-color: #654a4e;
// Code blocks
//$code-block-bg-alpha: -.8;

// navbar

$navbar-bg: #e6ddde; 
$navbar-fg: #654a4e;
$navbar-hl: #753742;

//font

//$font-family-base: Akkurat Mono;
//$font-family-monospace: monospace;

